/* .nav {
  background: #ff7664 !important;
} */

.nav_title {
  justify-content: center;
}

.toggler {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.floating_btn {
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
  position: fixed;
  bottom: 10px;
  right: 10px;
}